/* ================================================= */
/* =================== Stylesheet ================== */
/* ================================================= */

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* mobile and global style */
body {
  margin: 0;
  font-family: "Fira Code", monospace;
  background: #000000;
}
footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  color: #fff;
  background: #000000;
}

#form {
  padding: 0.5rem 10px;
  display: flex;
  width: 100%;
  height: 7rem;
  margin-bottom: auto;
}
#form > button {
  background: #333;
  border: none;
  padding: 0.5rem 1rem;
  min-width: 120px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  outline: none;
  color: #fff;
  font-size: calc(0.75vw + 0.75vh + 0.75vmin);
}

#input {
  border: none;
  padding: 0.5rem 1.5rem;
  flex-grow: 1;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  background: #1c1c1c;
  color: #fff;
  font-size: calc(0.75vw + 0.75vh + 0.75vmin);
}
#input:focus {
  outline: none;
}

#messages {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#messages > li {
  padding: 0.5rem 1rem;
  font-size: calc(0.75vw + 0.75vh + 0.75vmin);
  color: #fff;
}
#messages > li:nth-child(odd) {
  background: #000;
}

#container {
  padding-bottom: 3rem;
  height: calc(100vh - 3rem - 5rem);
  overflow: scroll; /* Make the container scrollable */
}

/* Style the navigation bar */
.navbar {
  background-color: #ddd;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the text in the navigation bar */
.navbar-text {
  font-size: 24px;
  font-weight: bold;
  font-size: calc(0.75vw + 0.75vh + 0.75vmin);
}

.main {
  position: relative; /* keep the absolute and fixed child inside */
  width: 100%;
  height: 100vh; /* 100% viewport height (screen height) */
}

/* tablet only */
@media (min-width: 768px) {
  #form > button {
    min-width: 60px;
  }
}

/* desktop and beyond */
@media (min-width: 1200px) {
  footer {
    height: 6rem;
  }

  #form {
    height: 4rem;
  }
}
