body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: "Fira Code", monospace;
  background: #000000;
}

#form {
  background: #242424;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  background: #000000;
}

#input {
  border: none;
  padding: 0.5rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  background: #1c1c1c;
  color: #fff;
  font-size: calc(0.75vw + 0.75vh + 0.75vmin);
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  font-size: calc(0.75vw + 0.75vh + 0.75vmin);
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #000000;
}

#messages > li {
  padding: -0.5rem -1rem;
  font-size: calc(-0.75vw + -0.75vh + -0.75vmin);
  color: #fff;
}

#messages > li:nth-child(odd) {
  background: #000000;
}

      /* Style the navigation bar */
      .navbar {
        background-color: #ddd;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* Style the text in the navigation bar */
      .navbar-text {
        font-size: 24px;
        font-weight: bold;
        font-size: calc(0.75vw + 0.75vh + 0.75vmin);
      }
      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1rem;
        background: #242424;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #container {
        height: calc(100vh - 3rem - 5rem); /* Subtract the height of the navbar and footer */
        overflow: scroll; /* Make the container scrollable */
      }
      
      #messages {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      
      #messages > li {
        padding: 0.5rem 1rem;
        font-size: calc(0.75vw + 0.75vh + 0.75vmin);
        color: #fff;
      }
      
      #messages > li:nth-child(odd) {
        background: #000;
      }

/* For Mobile */
@media screen and (max-width: 540px) {
  .view {
      width: 400px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
      width: 600px;
  }
}